@keyframes LinkHover {
  0% {
    background: blue;
    color: white;
  }
  100% {
    background: orange;
    color: blue;
  }
}
@media screen and (max-width: 900px) {
  .HomePageContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .LinkContainerStyle {
    margin-top: 10vw;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vw;
    transition: ease-in-out;
    transition-duration: 0.3s;
    border-radius: 8px;
  }
  .LinkDivStyle {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: blue;
  }
  .CreateAccountLink {
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    display: block;
    color: white;
    height: 100%;
    text-align: center;
    padding-top: 50%;
  }
  .LoginLink {
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    display: block;
    color: white;
    height: 100%;
    text-align: center;
    padding-top: 50%;
  }
  .CreateAccountLink:hover {
    animation-name: LinkHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .LoginLink:hover {
    animation-name: LinkHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .CreateAccountForm {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
  }
  .CreateAccountForm input {
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
  }
  .CreateAccountForm label {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .CreateAccountForm button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
  }
  .CreateAccountUl {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    opacity: 0.8;
  }
  .UserNav {
    background-color: rgb(55, 55, 236);
    color: white;
  }
  .UserInputDivContainer {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    transition: ease-in-out;
    transition-duration: 0.2s;
  }
  .UserInputDivContainer input {
    width: 60%;
    height: 40px;
    transition: ease-in-out;
    transition-duration: 0.2s;
    border-radius: 8px;
  }
  .UserInputDivContainer button {
    height: 40px;
    width: 40%;
    transition: ease-in-out;
    transition-duration: 0.2s;
    border-radius: 8px;
  }
  .UserPostList {
    width: 60%;
    list-style-type: none;
    border: 1px solid black;
    transition: ease-in-out;
    transition-duration: 0.2s;
    border-radius: 8px;
  }
  .UserPostList li {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: ease-in-out;
    transition-duration: 0.2s;
  }
  .RegisterConfirmPasswordError {
    transition: ease-in-out;
    transition-duration: 0.2s;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    color: red;
  }
  .UserPostListItem {
    display: flex;
    justify-content: space-between;
  }
  .UserPostListItem button {
    border-radius: 8px;
    background-color: red;
    color: white;
  }
}

@media screen and (min-width: 900px) {
  .HomePageContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .LinkContainerStyle {
    margin-top: 20vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 500px;
    transition: ease-in-out;
    transition-duration: 0.3s;
    border-radius: 8px;
    border-radius: 8px;
  }
  .LinkDivStyle {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: blue;
  }
  .CreateAccountLink {
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    display: block;
    color: white;
    height: 100%;
    text-align: center;
    padding-top: 35%;
    border-radius: 8px;
  }
  .LoginLink {
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    display: block;
    color: white;
    height: 100%;
    text-align: center;
    padding-top: 35%;
    border-radius: 8px;
  }
  .CreateAccountLink:hover {
    animation-name: LinkHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .LoginLink:hover {
    animation-name: LinkHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .CreateAccountForm {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
  }
  .CreateAccountForm input {
    margin-bottom: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
  }
  .CreateAccountForm label {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .CreateAccountForm button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
  }
  .CreateAccountUl {
    margin-left: 20%;
    margin-right: auto;
    list-style-type: none;
    opacity: 0.8;
  }
  .UserNav {
    background-color: blue;
    color: white;
  }
  .UserInputDivContainer {
    width: 60%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    transition: ease-in-out;
    transition-duration: 0.2s;
  }
  .UserInputDivContainer input {
    width: 80%;
    height: 40px;
    transition: ease-in-out;
    transition-duration: 0.2s;
    border-radius: 8px;
  }
  .UserInputDivContainer button {
    height: 40px;
    width: 20%;
    transition: ease-in-out;
    transition-duration: 0.2s;
    border-radius: 8px;
  }
  .UserPostList {
    width: 60%;
    list-style-type: none;
    border: 1px solid black;
    transition: ease-in-out;
    transition-duration: 0.2s;
    border-radius: 8px;
  }
  .UserPostList li {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    margin-top: 10px;
    transition: ease-in-out;
    transition-duration: 0.2s;
  }
  .RegisterConfirmPasswordError {
    transition: ease-in-out;
    transition-duration: 0.2s;
    margin-left: 22.5%;
    margin-right: auto;
    opacity: 0.8;
    color: red;
  }
  .UserPostListItem {
    display: flex;
    justify-content: space-between;
  }
  .UserPostListItem button {
    border-radius: 8px;
    background-color: red;
    color: white;
  }
}
